<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="header::myHeader"></div>
</head>
<body>
<div th:replace="navbar::navbar"></div>
<div>
    <div style="text-align: center;margin-top: 12px;" >
        <h1>Welcome Detail Page</h1>
    </div>
    <div class="container">
        <form th:action="@{/owner}" method="post" th:object="${user}">
            <div class="form-group">
                <label for="nameSurname">Name Surname</label>
                <input class="form-control" type="text" name="nameSurname" th:value="*{nameSurname}" id="nameSurname" placeholder="nameSurname" readonly>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input class="form-control" type="tel" name="phoneNumber" th:value="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber" readonly>
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input class="form-control" type="text" name="contact" th:value="*{contact}" id="contact" placeholder="contact" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" th:value="*{email}" id="email" placeholder="email" readonly>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" name="username" th:value="*{roles}" id="role" placeholder="username" readonly>
            </div>
        </form>
    </div>
</div>


</body>
</html>