<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header::myHeader"></div>
</head>
<body>

    <div th:replace="navbar::navbar"></div>

    <div style="margin-top: 30px">
        <h1 style="text-align: center">Owners List</h1>
    </div>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Role</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                    <th scope="col">Activate Admin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="owner:${owners}">
                    <td th:text="${owner.getId()}"></td>
                    <td th:text="${owner.getNameSurname()}"></td>
                    <td th:text="${owner.getEmail()}"></td>
                    <td th:text="${owner.getUsername()}"></td>
                    <td th:text="${owner.getPhoneNumber()}"></td>
                    <td th:text="${owner.getUserRole()}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/owner/delete/'+${owner.getId()}}">Delete</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/owner/update/{id}(id=${owner.getId()})}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/owner/save}">Register</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>