<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header::myHeader"></div>
</head>
<body>

    <div th:replace="navbar::navbar"></div>
    <div style="margin-top: 30px">
        <h1 style="text-align: center"></h1>
    </div>

    <div class="container">
        <div class="row">
            <!-- start col-4 -->
            <div class="col-4" style="margin-top: 30px;">
                <div>
                    <h1 style="text-align: center">Profile Details</h1>
                </div>
                <form th:action="@{/owner}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="nameSurname">Name Surname</label>
                        <input class="form-control" type="text" name="nameSurname" th:value="*{nameSurname}" id="nameSurname" placeholder="nameSurname" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input class="form-control" type="tel" name="phoneNumber" th:value="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber" readonly>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input class="form-control" type="text" name="contact" th:value="*{contact}" id="contact" placeholder="contact" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" th:value="*{email}" id="email" placeholder="email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" th:value="*{username}" id="username" placeholder="username" readonly>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" name="username" th:value="*{userRole}" id="role" placeholder="username" readonly>
                    </div>
                </form>

            </div>
            <!-- end col-4 -->
            <!-- start col-4 -->

            <div class="col-1"></div>

            <!-- end col-8 -->
            <!-- start col-8 -->
            <div class="col-7">

                <div th:if="${param.success}">
                    <div class="alert alert-success" role="alert">
                        This is a success alert—check it out!
                    </div>
                </div>
                <div style="margin-top: 30px;margin-bottom: 20px;">
                    <a class="btn btn-success" th:href="@{/pet/add/{id}(id=${user.getId()})}">Add a pet</a>
                </div>

                <div class="row">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Genus</th>
                            <th scope="col">Age</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pet:${pets}">
                            <td th:text="${pet.getId()}"></td>
                            <td th:text="${pet.getName()}"></td>
                            <td th:text="${pet.getDescription()}"></td>
                            <td th:text="${pet.getGenus()}"></td>
                            <td th:text="${pet.getType()}"></td>
                            <td th:text="${pet.getAge()}"></td>
                            <td>
                                <a class="btn btn-danger" th:href="@{'/owner/delete/'+${pet.getId()}}">Delete</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" th:href="@{/owner/update/{id}(id=${pet.getId()})}">Update</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- end col-8 -->
        </div>
    </div>


    <div th:replace="footer::footer"></div>


</body>
</html>