<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header::myHeader"></div>
</head>
<body>

    <div th:replace="navbar::navbar"></div>
    <div style="margin-top: 30px">
        <h1 style="text-align: center">Register Page</h1>
    </div>
    <div class="container" style="margin-top: 20px;">
            <div th:if="${param.success}">
                <div class="alert alert-success" role="alert">
                    This is a success alert—check it out!
                </div>
            </div>
            <form th:action="@{/owner/save}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="nameSurname">Name Surname</label>
                    <input class="form-control" type="text" th:field="*{nameSurname}" id="nameSurname" placeholder="Name and surname">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input class="form-control" type="tel" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input class="form-control" type="text" th:field="*{contact}" id="contact" placeholder="Adress street vs ..">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Role</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Standart</option>
                        <option>Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
    </div>

    <div th:replace="footer::footer"></div>
</body>
</html>